@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-image: url("bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 24px;
}

.button {
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 20px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

#progress-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

#collect-btn {
  position: relative;
  overflow: hidden;
  width: 240px;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #ccc;
  color: black;
  z-index: 1;
  transition: background-color 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

#btn-progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: #36d792;
  z-index: 1;
  transition: width 1s linear;
}

#btn-label {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: color 1s linear;
}

#timer {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  font-family: "Martian Mono", monospace;
  margin-bottom: 20px;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
